/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #2f3035;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

i {
	font-family: fontawesome !important;
}

/*--------------------*/

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 25px 15px;
}

.form {
	margin: 0 auto;
	max-width: 300px;
}

.form__btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.form__btn {
	border-radius: 5px;
	padding: 5px 10px;
}

.form__btn-add {
	color: #fff;
	background-color: #439CF2;
}

.form__btn-clear {
	background-color: #F0F0F0;
	justify-content: space-between;
}

.form__line {
	display: flex;
	flex-direction: column;
	background-color: #F0F0F0;
	margin-top: 15px;
	padding: 25px 15px 15px;
	border-radius: 5px;

}

.form__input {
	margin-top: 15px;
	height: 25px;
	padding: 0 15px;
	border-radius: 5px;

}

.form__input:focus {
	border: 2px solid #439CF2;
}

.form__history-item {
	margin-top: 10px;
	background-color: #fff;
	padding: 5px;
}